/*-----------------------------------*/
/*  @block Responsive
/*-----------------------------------*/

// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 576px) {
  // * {
  //   outline: variables.$outline-test;
  // }
  body .hero .left h1 {
    font-size: 5rem;
  }
  body .hero .left a {
    font-size: 1rem;
  }
  body .gallery .slideshow-container .mySlides figure {
    width: 77.6%;
  }
  body .categories .categoriesWrapper div a,
  body .categories .categoriesWrapper div a:nth-of-type(2) {
    font-size: 1rem;
    line-height: 1.5rem;
    width: 45%;
    float: left;
  }
  body .categories .categoriesWrapper div a:nth-of-type(2) {
    margin-left: 10%;
  }
}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) {
  // * {
  //   outline: 1px solid aqua;
  // }
  body header nav {
    font-size: 2.8rem;
  }
  body .hero .left h1 {
    font-size: 5rem;
  }
  body .gallery .slideshow-container .mySlides figure {
    width: 60.4%;
  }
  body .categories .categoriesWrapper div:nth-last-child(2) {
    margin-bottom: 0;
  }
  body .categories .categoriesWrapper {
    gap: 5%;
  }
  body .categories .categoriesWrapper div {
    width: 47.5%;
  }
  body .categories .categoriesWrapper div a,
  body .categories .categoriesWrapper div a:nth-of-type(2) {
    width: 100%;
  }
  body .categories .categoriesWrapper div a:nth-of-type(2) {
    margin: 0.4rem 0 0;
  }
  body .projectExplained #projectWrapper .explanation a {
    margin-top: 3rem;
  }
  body .projectExplained #projectWrapper .explanation {
    margin-bottom: 18%;
  }
  footer {
    margin-top: 25%;
    .spanWrapper span {
      width: 33.3%;
    }
    .subFooter {
      text-align: center;
    }
  }
  footer .spanWrapper {
    align-items: stretch;
  }
  footer .spanWrapper span:nth-child(2) {
    margin: 0%;
  }
}

// Large devices (desktops, 992px and up)
@media screen and (min-width: 992px) {
  // * {
  //   outline: 1px solid green;
  // }
  body header nav {
    font-size: 3rem;
  }
  body .hero {
    background-size: 70%;
  }
  body .hero .left {
    width: 50%;
  }
  body .hero .left h1 {
    font-size: 3.974rem;
  }
  body .hero .left a {
    font-size: 0.85rem;
  }
  body .hero .right {
    width: 50%;
    height: 100%;
  }
  body .hero .right p {
    display: initial;
    position: absolute;
    top: 93%;
    right: 8.3%;
  }
  body .gallery {
    height: 70vh;
    flex-direction: row;
  }
  body .gallery .slideshow-container .mySlides {
    height: auto;
  }
  body .gallery .slideshow-container .mySlides .primaryInfo,
  body .gallery .slideshow-container .mySlides .secondaryInfo {
    width: 25%;
  }
  body .gallery .slideshow-container .mySlides figure {
    width: 46%;
    order: 2;
  }
  body .projectExplained #projectWrapper {
    flex-direction: row;
    align-items: baseline;
  }
  body .projectExplained .roadmap h4,
  body .projectExplained .roadmap .point {
    margin-left: 3%;
  }

  body .projectExplained #projectWrapper .explanation,
  body .projectExplained .roadmap {
    width: 50%;
    margin: 0%;
  }
  footer {
    margin-top: 20%;
  }
  footer .spanWrapper span:nth-child(2) {
    text-align: center;
  }
  footer .spanWrapper span:nth-child(3) {
    text-align: right;
  }
  .subFooter {
    margin-top: 2%;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media screen and (min-width: 1200px) {
  // * {
  //   outline: 1px solid yellow;
  // }
  body header nav {
    font-size: 3.2rem;
  }
  body .hero .left h1 {
    font-size: 4.83rem;
  }
  body .hero .left a {
    font-size: 1rem;
  }
  body .categories .categoriesWrapper div:nth-last-child(3) {
    margin-bottom: 0;
  }
  body .categories .categoriesWrapper div {
    width: 30%;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media screen and (min-width: 1400px) {
  // * {
  //   outline: 1px solid blue;
  // }
  body header nav {
    font-size: 3.5rem;
  }
  body .hero .left h1 {
    font-size: 5.78rem;
  }
  body .hero .left a {
    font-size: 1.1rem;
  }
  body .categories .categoriesWrapper div {
    width: 30%;
  }
}
