/**
* _variables.scss
*
* Module for variables
*/

$color-background: rgb(110, 81, 158);
$color-primary: rgb(251, 244, 255);
$color-secondary: rgb(16, 16, 16);
$custom-padding: 13px 24px;
$button-font-size: 1.1em;
$custom-border-radius: 8px;
$custom-box-shadow: 4px 24px 60px rgba(27, 27, 27, 0.25);
$custom-text-shadow: 2px 3px 5px rgba(76, 76, 76, 0.5);
// TO DELETE
$outline-test: 1px solid red;
