@use "../partials/variables";
@use "../partials/mixins";
@use "../partials/extends";
@use "../partials/header-footer";
@use "../partials/basic-tags";
@use "../partials/keyframes";

body {
  font-size: 16px;
  // .mainWrapper {
  //   padding: 0 10%;
  // }
  /* ----------------------------------- */
  /* @block Header
  /* ----------------------------------- */

  /*-----------------------------------*/
  /*  @block Heading
  /*-----------------------------------*/
  h1 {
    width: 100%;
    padding: 7% 10% 0%;
    text-align: center;
    font-size: 4rem;
    font-weight: 200;
    text-shadow: variables.$custom-text-shadow;
  }
  /*-----------------------------------*/
  /*  @block Cards
  /*-----------------------------------*/

  .cardsContainer {
    padding: 0% 10%;
    margin: 9vh 0 5vh;
    overflow-x: hidden;
    width: 100%;
    @include mixins.flexbox($gap: 0%);
    height: auto;
    .card {
      text-shadow: variables.$custom-text-shadow;
      width: 100%;
      height: auto;
      position: relative;
      padding: 2rem;
      margin: 10px;
      backdrop-filter: blur(17px) saturate(186%);
      -webkit-backdrop-filter: blur(17px) saturate(186%);
      background-color: rgba(107, 108, 112, 0.64);
      border: 1px solid rgba(255, 255, 255, 0.125);
      border-radius: 25px;
      img {
        width: 100%;
      }
      h2 {
        font-size: 2rem;
        font-weight: bold;
        padding: 2% 0 5%;
      }
      a {
        margin-top: 15%;
        @include mixins.callToAction($importance: 1);
        text-shadow: none;
        display: block;
      }
    }
  }

  /*-----------------------------------*/
  /*  @block Footer
    /*-----------------------------------*/
}
/*-----------------------------------*/
/*  @block Responsive
/*-----------------------------------*/

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  * {
    outline: variables.$outline-test;
  }
}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) {
  * {
    outline: 1px solid aqua;
  }
  body .cardsContainer .card {
    width: 46.6%;
  }
  body footer {
    margin-top: 25%;
    .spanWrapper span {
      width: 33.3%;
    }
    .subFooter {
      text-align: center;
    }
  }
  body footer .spanWrapper {
    align-items: stretch;
  }
  body footer .spanWrapper span:nth-child(2) {
    margin: 0%;
  }
}

// Large devices (desktops, 992px and up)
@media screen and (min-width: 992px) {
  * {
    outline: 1px solid green;
  }
  body .cardsContainer .card {
    width: 30.7%;
  }
  body .cardsContainer .card h2 {
    font-size: 1.5rem;
  }
  body .cardsContainer .card a {
    font-size: 0.9rem;
  }
  body footer {
    margin-top: 20%;
  }
  body footer .spanWrapper span:nth-child(2) {
    text-align: center;
  }
  body footer .spanWrapper span:nth-child(3) {
    text-align: right;
  }
  .subFooter {
    margin-top: 2%;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media screen and (min-width: 1200px) {
  * {
    outline: 1px solid yellow;
  }
  body .cardsContainer .card h2 {
    font-size: 2rem;
  }

  body .cardsContainer .card a {
    font-size: 1.3rem;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media screen and (min-width: 1400px) {
  * {
    outline: 1px solid blue;
  }
  body .cardsContainer .card {
    width: 23%;
  }
  body .cardsContainer .card h2 {
    font-size: 1.8rem;
  }
  body .cardsContainer .card a {
    font-size: 1rem;
  }
}
